<div class="container">
    <div class="general-info flex-wrap ">
         <form>
                <div class="form-header">Измерения</div>
                <div *ngFor="let measurement of measurements.controls; let i = index">
                    <table [formGroup]='measurement'>
                    <tr>
                    <td>
                        <mat-form-field >
                            <mat-label>Название</mat-label>
                            <mat-select  matInput id="nameTest" formControlName="idCatalogMeasurement">
                                <mat-option *ngFor="let item of catalog" value="{{item.id}}">{{item.nameMeasurement}}</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </td>
                    
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Значение</mat-label>
                            <input  matInput  formControlName="valueMeasurement"/>
                        </mat-form-field>
                    </td>
                   
                    
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Дата</mat-label>
                            <input  matInput type="datetime-local" formControlName="dateMeasurement"/>
                        </mat-form-field>
                    </td>
                    
                </tr>
                
                </table>
                <button mat-raised-button (click)="deleteMeasurement(i)">Удалить</button>
            </div>
            <button mat-raised-button (click)="submitMeasurements()">Отправить</button>
            <button mat-raised-button (click)="addMeasurement()">Добавить</button>
            
            </form>
            
    </div>
</div>