<div class="container">
<div class="general-info" >
  <form [formGroup]="patientForm" (ngSubmit)="submitForm()" >
    <div class="form-header">Информация о пациенте</div>
    <table cellspacing="1">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Фамилия</mat-label>
            <input formControlName="surname" matInput id="surname" name="surname"required />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Имя</mat-label>
            <input formControlName="name"matInput id="name" name="name" required />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Отчество</mat-label>
            <input formControlName="patronymic" matInput id="patronymic" name="patronymic" required />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input formControlName="dateBirth" id="dateBirth" name="dateBirth"matInput type="date" />
    </mat-form-field>
    <table cellspacing="1">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Пол</mat-label>
            <mat-select id="gender" name="gender" formControlName="gender">
              <mat-option value="man">Мужчина</mat-option>
              <mat-option value="woman">Женщина</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Тип крови</mat-label>
            <mat-select id="bloodType" name="bloodType"formControlName="bloodType">
              <mat-option value="O(I) Rh-">O(I) Rh-</mat-option>
              <mat-option value="O(I) Rh+">O(I) Rh+</mat-option>
              <mat-option value="A(II) Rh+">A(II) Rh+</mat-option>
              <mat-option value="A(II) Rh-">A(II) Rh-</mat-option>
              <mat-option value="B(III) Rh+">B(III) Rh+</mat-option>
              <mat-option value="B(III) Rh-">B(III) Rh-</mat-option>
              <mat-option value="AB(IV) Rh+">AB(IV) Rh+</mat-option>
              <mat-option value="AB(IV) Rh+">AB(IV) Rh+</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="header">Контакты</div>
    <table cellspacing="1"> 
      <tr>
        <td>
    <mat-form-field>
      <mat-label>Телефон</mat-label>
      <span matPrefix>+38 &nbsp;</span>
      <input
      formControlName="phone"
        id="phone"
        type="tel"
        name="phone"
        matInput
        placeholder="055-555-1234"
      />
    </mat-form-field>
  </td>
  <td>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        id="email"
        type="email"
        name="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
    </mat-form-field>
  </td>
  </tr>
  </table>
  <div class="form-header"  >Адресс</div>
  <table [formGroup]="formAdress" cellspasing="1">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Страна</mat-label>
          <input formControlName="country"matInput id="country" />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Регион</mat-label>
          <input formControlName="region" matInput id="region" />
        </mat-form-field>
        
        
      </td>
      <td>
        <mat-form-field>
          <mat-label>Город</mat-label>
          <input formControlName="cityVillage"matInput id="cityVillage" >
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Улица</mat-label>
          <input formControlName="street" matInput id="street"/>
        </mat-form-field>
    </td>
    <td>
      <mat-form-field>
        <mat-label>Дом, квартира</mat-label>
        <input formControlName="houseDetails" matInput id="houseDetails" />
      </mat-form-field>
    </td>
    </tr>
  </table>
  <div class="form-header">Статус</div>
  <table cellspacing="0">
    <tr>
      <td>
        <mat-form-field>
          <mat-label>Социальный статус</mat-label>
          
          <input formControlName="socialStatus" name="socialStatus"matInput id="socialStatus" >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Сем. положение</mat-label>
          <mat-select id="maritalStatus" name="maritalStatus" formControlName="maritalStatus">
            <mat-option value="Женат/Замужем">Женат/Замужем</mat-option>
            <mat-option value="Не женат/Не замужем">Не женат/Не замужем</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <button mat-raised-button type="submit" >Отправить</button>
  </form>
  <app-treatmentsession [PatientId]="patientid"></app-treatmentsession>
</div>
</div>


