.input-info{
    width: 200px;
    float: left;
    
}
.patient-form_text{
    margin-bottom: 5px;
    margin-top:5px;
}
.patient-save{
    display:bloc8pxk;
    margin-top:20px;
    width: 100px;
    height: 50px;
    
}