<form class="LaboratoryTest" >
    <div class="form-header">Анализы</div>
   
    <table cellspacing="1"> 
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Классификатор</mat-label>
            <input matInput id="codeTest"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Название</mat-label>
            <input matInput id="nameTest"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Лаборатория</mat-label>
            <input matInput id="laboratoryName"/>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Значение теста</mat-label>
            <input matInput id="valueTest" type="number"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-label>Значение юнит-теста</mat-label>
            <input matInput id="unitTest"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill">
            <mat-label>Дата</mat-label>
            <input id="dateTest" matInput type="date" />
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div  *ngFor="let analyze of analyzes.controls;">
      <ng-container [formGroup]="analyze">
      <table> 
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Классификатор</mat-label>
              <input matInput formControlName="codeTest" id="codeTest"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Название</mat-label>
              <input matInput formControlName="nameTest" id="nameTest"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Лаборатория</mat-label>
              <input matInput formControlName="laboratoryName" id="laboratoryName"/>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Значение теста</mat-label>
              <input matInput formControlName="valueTest" id="valueTest" type="number"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Значение юнит-теста</mat-label>
              <input matInput formControlName="unitTest" id="unitTest"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Дата</mat-label>
              <input id="dateTest" formControlName="dateTest" matInput type="date" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </ng-container>
    </div>
    <button (click)="addAnalyze()">Добавить</button>
    <button (click)="deleteAnalyze()">Удалить</button>
  </form>