<h1>Анализы пациента</h1>
<div class="input-info">
    <form>
        <div class="analyzes-form_text">Идентификатор анализов</div> 
        <input id="analyzes-id" type="text" required>
        <div class="analyzes-form_text">Идентификатор состояния</div> 
        <input id="analyzes-id_state" type="text" required>
        <div class="analyzes-form_text">Название</div>
        <input id="analyzes-name" type="text" required> 
        <div class="analyzes-form_text">Значение</div>
        <input id="analyzes-value" type="text" required>
        <div class="analyzes-form_text">Юнит тест</div>
        <input id="analyzes-unit" type="text">
        <div class="analyzes-form_text">Дата теста</div>
        <input id="analyzes-date" type="datetime-local">
        <div class="analyzes-form_text">Компания</div>
        <input id="analyzes-company" type="text">
        <input type="submit" class="analyzes-save" value="Сохранить">
       
    </form>
</div>