<div class="container">
    <div class="general-info  ">
       
         <form >
            <div class="form-header">Стадии заболевания</div>
                <div *ngFor="let stage of stages.controls; let i=index;" class="flex-wrap">
                <div>
                    <table [formGroup]='stage'> 
                    <tr>
                    <td>
                        <mat-form-field>
                            <mat-label>Cтадия</mat-label>
                            <input matInput id="stageName" formControlName="stageName"/>
                        </mat-form-field>
                    </td>
                
                
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Начало стадии</mat-label>
                            <input id="startStage" matInput type="datetime-local" formControlName="startStage" />
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>Конец стадии</mat-label>
                            <input id="endStage" matInput type="datetime-local" formControlName="endStage" />
                        </mat-form-field>
                    </td>
                </tr>
                </table>
                <button mat-raised-button (click)="deleteStage(i)">Удалить</button>
                </div>
                <div class="flex-wrap" style="margin-bottom: 20px; flex-direction: column;">
                <button mat-raised-button routerLink="/surgery/{{stage.value.id}}">Операции</button>
                <button mat-raised-button routerLink="/pharmacotherapy/{{stage.value.id}}">Таблетки</button>
                <button mat-raised-button routerLink="/physiotherapy/{{stage.value.id}}">Физиотерапия</button>
                <button mat-raised-button routerLink="/ultrasound/{{stage.value.id}}">Ультразвуковая терапия</button>
                
            </div>
            <div class="flex-wrap" style="margin-bottom: 20px; flex-direction: column;">
                <button mat-raised-button routerLink="/analyze/{{idState[i]}}">Анализы</button>
                <button mat-raised-button routerLink="/measurement/{{idState[i]}}">Измерения</button>
            </div>
            </div>
            
            <button mat-raised-button (click)="submitStages()">Отправить</button>
            <button mat-raised-button (click)="addStage()">Добавить</button>
            
            </form>
            
            
    </div>
</div>